.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
} .align-items-center{
    align-items: center;
} 
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
